# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/brain-tumor-mri-dataset/
/brain_tumor_dataset
model_1.keras
MRI_VGG_16.h5
convert.py
model_10.keras
model_100.h5
model.h5